section {
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: un_efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;
 }

 a{
	word-spacing: 1px;
	line-height: 10px;
	font-size: 1rem;
	font-family: "Russo One"

}

